<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/timestore/assets/style/bootstrap.css">
    <link rel="stylesheet" href="/timestore/assets/style/style.css">
    <title>History</title>
</head>

<body>

    <div class="container mt-5">
        <div class="row  justify-content-center">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card mb-3 px-2">
                        <div class="row g-0">
                            <div class="col-4 py-5 ">
                                <img src="" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">Product Model</h5>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <h4 class="card-title fw-bold">Rs.</h4>
                                        <h2 class="fs-5 ">*</h2>
                                    </div>
                                    <div class="">
                                        <span class="card-title  fw-bold">Total:</span>
                                    </div>
                                    <div class="">
                                        <span class="card-title  fw-bold">Order Date:</span>
                                    </div>
                                    <div class="fs-7 my-1">
                                        <li class="fa fa-star checked" id="s1"></li>
                                        <li class="fa fa-star checked" id="s2"></li>
                                        <li class="fa fa-star " id="s3"></li>
                                        <li class="fa fa-star" id="s4"></li>
                                        <li class="fa fa-star" id="s5"></li>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row mb-3 mx-2">
                                    <div class="col-12 col-md-6 d-grid mb-1">
                                        <button class="btn text-light fw-bold rounded-4" style="background-color: #dc3545;">Add To Cart</button>
                                    </div>
                                    <div class="col-12 col-md-6 d-grid mb-1">
                                        <button class="btn btn-secondary fw-bold rounded-4">Remove</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</body>

</html>
